{
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-class-properties"
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry",
				"targets": "> 0.25%, not dead",
				"forceAllTransforms": true,
				"corejs": 3
			}
		],
		[
			"minify",
			{
				"evaluate": false,
				"keepFnName": true,
				"keepClassName": true,
				"mangle": false,
				"builtIns": false
			}
		]
	]
}
