.DS_Store
coverage/
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
static/default.json
.history
.history/
public/static/default.json
secrets.tar
deploy_rsa
deploy_rsa.pub
